:root{
    --incripcion-color :  rgba(255, 136, 0, 0.452);
    --violeta :  rgb(72, 0, 155);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

/*BANNER*/
#banner {
    width: 100vw;
    height: 70vh;
    overflow: hidden;
    background-color: white;
   background-image: url(../img/violeta.png);
   background-size:cover;
    background-repeat: no-repeat;
    position: relative; 
}
 
#menu-icon{
    position: absolute;
    z-index: 12;
}

.clickeable:hover{
    cursor:pointer;
}
#contenedor-titulo-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    margin: auto;
    align-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

#titulo-banner {
    color: white;
    font-size: 320%;
    width: auto;
    height: auto;
    z-index: 4;
    text-align: center;
   
}

#img-banner {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url(../img/brillos.png);
    background-size:cover;
    background-repeat: no-repeat;

}

#fondo-banner {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;

}

#brillos-banner {
    position: absolute;
    z-index: 3;
   background-size: contain;
   background-repeat: no-repeat;
    width: 100%;

}

/*ARTICULOS*/
#contenedor-articulos{
    margin: 10% auto 0;
    width: 80%;   
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 5%;
}

.articulo{
    width:100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 5%;
    font-family: 'Work Sans', sans-serif;
    font-weight:bolder;
}

.imagen-articulo{
    width: 45%;
}

.titulo-articulo{
    color:var(--violeta);
    font-size: 130%;
    line-height: 150%;
    margin-bottom: 5%;
}

.contenedor-texto{
    width: 50%;

}


#contenedor-inscripcion{
    background-color: var(--incripcion-color);
    width: 80%;
    height: 18%;
   /* margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6%;*/
    margin: 8% auto 6%;
    border-radius: 2.5%;
    display: flex;
    align-items: center;
    padding: 1%;
   flex-direction: column;
}
#titulo-inscripcion{
    font-family:'Work Sans', sans-serif;
    font-size:medium;
    font-weight:bolder;
    margin-top: 1%;
    font-size: 150%;
    
}
#texto-inscripcion{
    width: 90%;
    text-align: center;
}
.texto{
    font-family: 'Work Sans', sans-serif;
    font-weight: lighter;
    font-size: small;
    line-height: 140%;
    
}
#button{
    border: 1px solid black;
    border-radius: 5%;
    padding: 1%;
    margin:1%;
    font-size: medium;
    font-family:'Work Sans', sans-serif;
}

#button:hover{
    background-color: white;
    color: black;
}

/*footer*/

footer{
    background-color: var(--violeta);
    height: 15%;
    width: 100%;
    color:white;
    display: flex;
    align-items: center;
    align-content: center;
    
    
}

#footer{
    margin-left: 10%;
    font-family:'Work Sans', sans-serif;
    font-size: 70%;
    font-weight: 100;
}

.menu{
    position: absolute;
    background-color:var(--violeta);/*#7762A6;*/
    height: 40%;
    width: 20%;
    top: 0;
    left: 0%;
   z-index: 10;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   align-content: flex-start;
}

a{
    color: white;
    text-decoration-line:overline;
    padding: 5%;
}

a:hover{
    color:#b697f9;
    
}

@media screen and (max-width:600px){
    #contenedor-titulo-banner {
        width: 90%;
        font-size: 90%;
    }
    .articulo{
        flex-direction: column;
        align-items:center;
        margin-top: 7%;
        
    
    }
    .contenedor-texto{
        width: 99%;
    }
    .imagen-articulo{
        width: 80%;
        margin: 2%;
       
    }

    #texto-inscripcion{
        width: 90%;
        text-align: center;
    }

    .menu{
        width: 100vw;
        height: 100vh;
    }

    a{
        font-size:larger;
    }

    footer{
        height:10%;
    }

    #titulo-inscripcion{
        font-size: 100%;
    }
}